
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}


html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;

}
.iconBar{
  font-size: 60px;
}

.content {
  position: relative;
  top: 20%;
  z-index: 2;
  margin: 0 auto;
  max-width: 720px;
  text-align: center;
}

.content__heading {
  margin-bottom: 24px;
  color: #74b7e0;
  font-size: 44px;
}

.content__teaser {
  margin-bottom: 24px;
  color: #8cd3ff;
  font-size: 22px;
}

.content__cta {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #74b7e0;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #74b7e0;
}

.content__cta:hover {

background-color:#fff;
transition: .5s;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}



.fa {
  padding: 20px;
  font-size: 18px;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
	border-radius: 50%;
}

@media screen and (max-width: 600px){
  .fa {
    padding: 20px;
    font-size: 12px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  	border-radius: 50%;
  }


}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #74b7e0;
  color: white;
}

.fa-linkedin {
  background: #74b7e0;
  color: white;
}



.fa-instagram {
  background: #74b7e0;
  color: white;
}



.fa-snapchat-ghost {
  background: #74b7e0;
  color: white;
}

.fa-file-text{
	background: #74b7e0;
  color: white;
}


.fa-github {
  background: #74b7e0;
  color: white;
}
